In [1]:
import pandas as pd

Read in the station metadata from file as a pandas DataFrame and examine the file

In [2]:
station_metadata = pd.read_csv('ghcnd-stations.txt', 
                           sep='\s+',  # Fields are separated by one or more spaces
                           usecols=[0, 1, 2, 3],  # Grab only the first 4 columns
                           header=None,
                           names=['station_id', 'latitude', 'longitude', 'elevation'])

In [3]:
station_metadata.head()

    station_id  latitude  longitude  elevation
0  ACW00011604   17.1167   -61.7833       10.1
1  ACW00011647   17.1333   -61.7833       19.2
2  AE000041196   25.3330    55.5170       34.0
3  AEM00041194   25.2550    55.3640       10.4
4  AEM00041217   24.4330    54.6510       26.8

Write the data to a structured CSV, without the DataFrame index

In [4]:
station_metadata.to_csv('station_metadata.csv', index=False)